<div class="header">
  <span>Add Product</span>
  <span style="float: right; cursor: pointer; font-size: border" (click)="bsModalRef.hide()">x</span>
</div>
<div class="for-sale">
  <div class="form-group">
    <div class="col-md-8">
      <input [(ngModel)]="item.name" name="product_name" placeholder="Product Name" class="form-control input-md" required="" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-8 control-label">Category:</label>
    <div class="col-md-8">
      <select [(ngModel)]="item.categoryId"  class="form-control">
        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <input [(ngModel)]="item.quantity"  name="available_quantity" placeholder="Quantity" class="form-control input-md" required="" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <input [(ngModel)]="item.price" placeholder="Price" class="form-control input-md" required="" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8" >
      <textarea [(ngModel)]="item.detail" style="height: 200px" placeholder="Product Detail" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-8 control-label">Product Image URL:</label>
    <div class="col-md-8">
      <input [(ngModel)]="item.img" placeholder="Ect: http://google.com.vn" class="form-control input-md" required="" type="text">
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group">
        <div class="col-md-8">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
