<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand logo" routerLink="landing">Jimmy<span>+</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!user">
        <a  role="button" class="nav-link" (click)="login()">{{"HEADER.LOGIN" | translate}}</a>
      </li>
      <li class="nav-item">
        <a  role="button" class="nav-link" routerLink="landing/for-sale">{{"HEADER.SALE" | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="user && user.level === 'user'">
        <a  role="button" class="nav-link" routerLink="landing/for-sale">{{"HEADER.MYPAGE" | translate}}</a>
      </li>
      <li class="nav-item">
        <a  role="button" class="nav-link" routerLink="landing">{{"HEADER.PRODUCT" | translate}}</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user && user.level === 'admin'">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"HEADER.ADMIN" | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="backoffice/user-page">{{"HEADER.USER" | translate}}</a>
          <a class="dropdown-item" routerLink="backoffice/order-page">{{"HEADER.ORDER" | translate}}</a>
          <a class="dropdown-item" routerLink="backoffice/product-page">{{"HEADER.PRODUCT" | translate}}</a>
          <a class="dropdown-item" routerLink="backoffice/category-page">{{"HEADER.CATEGORY" | translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"HEADER.CATEGORY" | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  (click)="changeCategory(null)">All</a>
          <a class="dropdown-item" *ngFor="let item of categories" (click)="changeCategory(item)">{{item.name}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"HEADER.CONTACT.CONTACT" | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">{{'HEADER.CONTACT.EMAIL' | translate}}</a>
          <a class="dropdown-item" href="#">{{'HEADER.CONTACT.PHONE' | translate}}</a>
        </div>
      </li>
    </ul>
    <button *ngIf="user" style="margin: 5px" type="button" class="btn btn-primary">
      Hello {{user.name}}
    </button>
    <button *ngIf="user" style="margin: 5px" type="button" class="btn btn-danger">
      Log Out
    </button>
    <select class="language" #langSelect (change)="translate.use(langSelect.value)" aria-label="Lang">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
</nav>
<router-outlet></router-outlet>
