.badge {
  width: 100px;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.bo-menu{
  position: relative;
  margin: 10px 25% 10px 25%;
  padding: 10px;
  background-color: #e3f2fd;
}

.bo-group{
  margin: 0 25% 0 25%;
}
