<footer class="page-footer font-small mdb-color">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left ">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto ">
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
          <a href="#!">MDBootstrap</a><br>
          <a href="#!">MDWordPress</a><br>
          <a href="#!">BrandFlow</a><br>
          <a href="#!">Bootstrap Angular</a>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <a href="#!">Your Account</a><br>
          <a href="#!">Become an Affiliate</a><br>
          <a href="#!">Shipping Rates</a><br>
          <a href="#!">Help</a>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto ">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US<br>
          <i class="fas fa-envelope mr-3"></i> info@gmail.com<br>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88<br>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> MDBootstrap.com</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
