<div class="header">
  <span>Add Category</span>
  <span style="float: right; cursor: pointer; font-size: larger" (click)="bsModalRef.hide()">x</span>
</div>
<div class="for-sale">
  <div class="form-group">
    <div class="col-md-8">
      <input [(ngModel)]="item.name" name="product_name" placeholder="Category Name" class="form-control input-md" required="" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8" >
      <textarea [(ngModel)]="item.detail" style="height: 200px" placeholder="Category Detail" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-8 control-label">Product Image URL:</label>
    <div class="col-md-8">
      <input [(ngModel)]="item.img" placeholder="Ect: http://google.com.vn" class="form-control input-md" required="" type="text">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group">
        <div class="col-md-8">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
