.badge {
  width: 100px;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.bo-menu{
  position: relative;
  margin: 10px 25% 10px 25%;
  padding: 10px;
  background-color: #e3f2fd;
}

.bo-group{
  margin: 0 25% 0 25%;
}

table {
  margin: 10px 10px 0 10px;
  text-align: center;
  border-collapse: collapse;
  width: 98%;

}

img{
  width: 100px;
  height: 100px;
}

thead {
  background: #00cde5;
  color: #ffffff;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #B3E5FC;
}

.dropdown-menu {
  top: -10px !important;
  left: 50px !important;
}

.disabled {
  opacity: 0.5;
}

